# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.vscode

# Virtual environment
venv/
.venv/

# Train & val images
train/
validation/
archive/
train_images/
val_images/

# Checkpoints
checkpoints/

src/

tmp.py
*.h5
logs/csvs
barcode_detections_backup.csv.
data/train_barcode_qr.tf_record
yolo_barcode_detector.onnx
logs/images
*.csv